# top-most EditorConfig file
root = true

[*]
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true
charset = utf-8
# end_of_line = lf      # for Unix

[*.{py,cpp,c}]
indent_size = 4

[*.{html,css}]
indent_size = 2

# In markdown, you can write a line break by adding 2 spaces at the end of the line.
[*.md]
trim_trailing_whitespace = false

[*.tsv]
indent_style = tab

[*.bat]
end_of_line = crlf
